/*  styles abbreviations

    nav = navbar (navegationbar)
    ld = landingpage
    rpc = RecipeContainer
    rp = Recipe

*/
/* repeated classes&modifiers */
:root {
    /* fonts */
    --Prata-X400-default: 'Prata', serif;
    --Roboto-X400-Regular: 'Roboto', sans-serif;

    /* font weight style { modifier } */
    --font-weight: normal;
}
/* hide explorer scroollbar */
::-webkit-scrollbar {
    display: none;
}
html{
    /* disable x scrooll in-page */
    /* overflow-x: hidden !important; */
    /* overflow-y: hidden !important; */

}
body{
    height: auto;
    width: 100vw;
}
html,body {
    margin: 0;
    /* disable text selection on in-page  */
    user-select: none;
}
/* disabling default explorer margin */
h1,h2,p{
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-block-end: 0;
}
/* assing font family variables */
h1{
    font-family: var(--Prata-X400-default);
    font-weight: var(--font-weight);

}
    h2{
        font-family: var(--Prata-X400-default);
        font-weight: var(--font-weight);

    }
        p{
            font-family: var(--Roboto-X400-Regular);
            font-weight: var(--font-weight);

        }
/* setting main as grid display */
main{
    display: grid;
}
/* ====== nav styles ======= */


nav{
    position: fixed;
    top: -55vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000000;
    width: 100vw;
    height: 55vh;
    z-index: 2;
    transition: 1s;
    color: white;
}
    .nav-imput-v{
        display: none;
    }
        .nav-images{
            position: fixed;
            top: 2vh;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: 10vw;
            height: 10vh;
            grid-area: 1/1;
        }
        .nav__menu-image {
            grid-area: 1/1;
            margin-left: 1vw;
            margin-top: 2vh;
            width: 4vh;
            position: fixed;
            z-index: 3;
        }
        .nav__search-image{
            width: 2vw;
            height: 3.8vh;
            position: fixed;
            top: 2vh;
            left: 5vw;
            z-index: 4;
        }
    .nav-form{
        justify-self: center;
        grid-area: 1/1/2/3;
        position: relative;
        transition: 1s;
        top: 0vh;
        height:8vh;
        width: 100vw;
        display: grid;
    }
    .nav__menu-searchbox {
        width: 50vw;
        height: 4vh;
        justify-self: center;
        margin-top: 1.5vh;
        margin-left: 3vw;
        border-radius: 10px;
        border: none;
        font-size: 1.3vw;
        position: relative;
    }
     /* nav animations */
    /* searchbox animation */
    input[type="checkbox"]:checked + .nav-form{
        top: 55vh;
        background-color: #000000;
        height: 8vh;
        width: 100vw;
        display: grid;
    }
    /* nav animation */
    input[type="checkbox"]:checked + nav{
        top: 0vh;
    }
    input[type="checkbox"]:checked + nav > .nav-form{
        top: 0vh;
    }
    input[type="checkbox"]:checked + nav .nav__search-image{
        display: none;
    }

    .user-container{
        grid-area: 1/1;
        margin-top: 10vh;
        margin-left: -25vw;
        width: 20vw;
        justify-self: center;
    }
        .user-image{
            width: 12vw;
            height: 20vh;
            margin-left: 4vw;
        }
        .user-name{
            margin-left: 7vw;
            margin-top: 1vh;
            margin-bottom: 0vh;
        }
        .user-description{
            text-align: justify;
        }
    .recomended-container{
        grid-area: 1/1;
        display: grid;
        justify-self: center;
        margin-top: 8vh;
        margin-left: 13vw;
    }
        .receta-text-title{
            color: white;
            margin-bottom: 1vh;
            letter-spacing: 0.2vw;
        }
        .receta-text{
            font-size: 1vw;
            justify-self: center;
        }
        .receta1{
            width: 10vw;
            height: 10vh;
            border-radius: 10px;

        }
        .receta2{
            width: 10vw;
            height: 10vh;
            border-radius: 10px;
            
        }
        .receta3{
            width: 10vw;
            height: 10vh;
            border-radius: 10px;
            
        }
        .maps-site{
            grid-area: 1/2;
            align-self: center;
            width: 61vw;
            height: 41vh;
            margin-left: -12vw;
            margin-top: 9vh;
            z-index: 2;
        }
/* ================================= */

/* landingSectionPage styles */
.ld-section{
    position: fixed;
    display: grid;
    width: 100vw;
    height: 100vh;
}
    .ld-section__background--image{
        width: 100vw;
        height: -webkit-fill-available;
        grid-area: 1/1;
        filter: blur(2px);
    }
    .ld-section__dowArrow--image{
        grid-area: 2/1/2/3;
        margin-bottom: -20vh;
        width: 4vw;
    }
    .ld-section__dowArrow-active{
        animation: bounce 4s normal infinite;
    }
.ld-section__contentContainer{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    grid-area: 1/1;
}
    .ld-ContentContainer__tie--image{
        grid-area: 1/1/1/3;
        margin-top: 2vh;
        z-index: 1;
        width: 80vw;
    }
    .ld-ContentContainer__textContainer{
        display: grid;
        grid-area: 1/1/1/3;
        justify-items: center;
        align-items: center;
        margin-bottom: -15vh;
        height: 32vh;
        overflow: hidden;
        z-index: 2;
    }
        .ld-textContainer__title{
            font-size: 4vw;
            letter-spacing: 1.5vw;
        }
        .ld-textContainer__description{
            font-size: 2.5vw;
            text-align: center;
            width: 37vw;
            margin-top: 10vh;
        }
/* ============================= */

/* recipe container styles */
.rpc-section{
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: repeat(3,100vh);
    grid-area: 2;
    margin-top: 100vh;
    width: 100vw;
    height: auto;
}
    /* container for backgroundimages */
    .rpc-section__background-container{
        display: grid;
        grid-area: 1/1;
    }
        .rpc-background__image{
            width: 100vw;
            filter: blur(1.5px);
            height: 300vh;
            grid-area: 1/1;
        }
        .rpc-background__menu{
            justify-self: center;
            margin-top: 15vh;
            height: 285vh;
            width: 82vw;
            grid-area: 1/1;
            z-index: 1;
        }
        .rpc-background__menu-tablet{
            display: none;
        }

/* ====== styles for recipesContainer { ratatouille, tartade manzana, buñuelos }===*/

/* recipe container only for { ratatouille ~ modifier ~ } */
.rp-container__ratatouille{
    display: grid;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-area: 1/1;
}    
/* =================================== */

/* warning { all below code are reusable } */
/* container for images and video */
    /* food&circle container */
    .rp-vcontainer__fodimagecontainer{
        display: grid;
        height: 50vh;
        width: 25vw;
        margin-top: 4vh;
        margin-left: 25vw;
        justify-self: center;
        grid-area: 1/1/2/3;
    }
        .rp-vcontainer__fodimage{
            width: 24vw;
            height: 45vh;
            grid-area: 1 / 1 / auto / auto;
            z-index: 2;
            margin-top: -2vh;
        }
        .rp-vcontainer__fodimage1-tablet{
            display: none;
        }
        .rp-vcontainer__cirlceimage{
            grid-area: 1/1;
            z-index: 1;
            width: 18vw;
            height: auto;
            animation: circleImage--rotation 10s linear infinite;
        }
    .rp-vcontainer__video{
        position: relative;
        width: 32vw;
        height: 35vh;
        align-self: center;
        margin-left: -10vw;
        z-index: 1;
        transition: 1s;
        left: -12vw;
        margin-top: 33vh;
    }
/* warning { all below code are reusable } */
/* container for recipe description */
.rp-textcontainer{
    display: grid;
    width: 53vw;
    height: 51vh;
    justify-self: center;
    align-self: center;
    margin-top: 35vh;
    margin-left: 0vh;
    grid-area: 1/2;
}
    /* stars container */
    .rp-textcontainer__tlstars-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: max-content;
        height: 0vh;
        margin-left: 15vw;
    }
        .rp-textcontainer__starimage{
            justify-self: flex-start;
            margin-top: 0vh !important;
            overflow: hidden;
        }
            .rp-star1{
                position: relative;
                top: -10vh;
            }
            .rp-star2{
                position: relative;
                top: -10vh;
            }
            .rp-star3{
                position: relative;
                top: -10vh;
            }
            .rp-starimage-colorchange{
                fill: yellow;
            }
    .rp-textcontainer__fodtitle{
        grid-area: 1/1;
        font-size: 2.5vw;
        letter-spacing: 0.5vw;
        justify-self: flex-start;
        align-self: flex-start;
    }
.rp-textcontainer__foddescription{
    margin-top: 1.5vh !important;
    width: 35vw;
    font-size: 1.5vw;
    margin-left: -6vw;
    text-align: justify;
}
/* warning { all below code are not reusable } */
/* tarta de manzana section styles */
.rp-container__tartaMZ{
    display: grid;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-area: 2/1;
}
    /* hover animations for video and stars */
    .rp-vcontainer__fodimage2{
        position: relative;
        width: 20vw;
        height: 40vh;
        grid-area: 1/1;
        z-index: 2;
        margin-top: -1.1vh;
        margin-left: -0.2vw;
    }
    .rp-vcontainer__fodimage2-tablet{
        display: none;
    }

/* ===================================== */

/* buñuelos section styles */
.rp-container__buñuelos{
    display: grid;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-area: 3/1;
}
    .rp-vcontainer__fodimage3{
        position: relative;
        width: 21vw;
        height: 36vh;
        grid-area: 1/1;
        z-index: 2;
    }
    .rp-textcontainer__fodtitle3{
        grid-area: 1/1;
        font-size: 2.5vw;
        letter-spacing: 0.5vw;
    }
    .title-al2{
        margin-left: 11vw;
    }

/* ================================================ */
/* animations styles */
    .rp-vcontainer__fodimage3-tablet{
        display: none;
    }

/* ================================================ */
/* animations styles */
@keyframes circleImage--rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* ================ button styles ================= */
button {
    width: 10vw;
    height: 5vh;
    cursor: pointer;
    display: grid;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
    background: #859aa0;
    grid-template-columns: repeat(3,1fr);
    transition: 0.3s;
    align-self: center;
    position: relative;
    margin-left: 19vw;
}
button:active .button-hline{
    transform: scale(0.5);
}
    /* button inside text */
    .button-text {
        width: 3vw;
        font-weight: bold;
        color: white;
        font-size: 0.7vw;
        justify-self: center;
        align-self: center;
        grid-area: 1/3/1/1;
        margin-left: 0vw;
    }
    /* button inside midle line */
    .button-hline {
        border-left: 1px solid #ffffff;
        justify-self: center;
        align-self: center;
        align-content: center;
        height: 3vh;
        margin-left: 0.5vw;
        grid-area: 1/2/1/4;
        display: grid;
        transition: 0.5s;
        position: relative;
        left: 0vw;
    }
    /* button inside svg icon */
    .button-svg{
        position: relative;
        width: 3vw;
        height: 5vh;
        margin-left: 0.1vw;
        transition: 1s 0.2s;
        transform: scale(1);
    }

    /* button background change color on buttonHover */
    button:hover {
        background: #ffffff;
    }

    /* hide text on buttonHover */
    button:hover .text {
        color: transparent;
    }
    /* svg zoom on buttonHover*/
    button:hover .button-svg{
        transform: scale(1.2);
    }
    /* svg displacement on buttonHover */
    button:hover .button-hline {
        left: -2vw;
    }

    /* this shit */
    button:focus{
        outline: none;
    }

/* =============== */

/* footer styles */
footer{
    display: grid;
    background-color: #5d7b6f;
    position: relative;
    width: 100vw;
    height: 7vh;
    grid-template-columns: repeat(3,1fr);
}
    /* social media container */
    .ft-socialcontainer{
        justify-self: center;
        align-self: center;
        width: 30vw;
    }
    .ft-socialcontainer__instagram-image{
        margin-right: 1vw;
        width: 2.5vw;
    }
    .ft-socialcontainer__gmail-image{
        margin-right: 1vw;
        width: 3vw;
    }
    .ft-socialcontainer__youtube-image{
        margin-right: 1vw;
        width: 3.5vw;
    }
.form-footer{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-left: -1vw;
}
    .ft-gmail{
        width: 13vw;
        height: 3vh;
        border-radius: 10px;
        border: none;
        grid-area:1/1;
    }
    .ft-send{
        width: 3vw;
        height: 3vh;
        border-radius: 10px;
        border: none;
        grid-area: 1/1;
        margin-left: 17vw;
        cursor: pointer;
    }
    /* about us container */
    .ft-aboutuscontainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 7vw;
        justify-items: flex-end;
        align-items: center;
        margin-left: 25vw; 
    }
    .buñuelos-ps{
        margin-left: 11vw !important;
    }
    .tarta-ps{
        margin-left: 9vw !important;
    }
    .rata-ps{
        margin-left: 15vw !important;
    }
.mb-recipe{
    display: none!important;
}
/* video animatio */

.rp-container__ratatouille:hover .rp-vcontainer__video{
    left: -12vw;
    margin-top: 33vh;
}