nav{
}
.background-recipe-image{
    grid-area: 1/1;
    width: 100vw;
    height: 545vh;
}
.ratatouille-recipe{
    display: grid;
    grid-template-rows: repeat(5,100vh);

}
.animate-container{
    grid-area: 1/1;
    display: grid;
    position: absolute;
    top: 58vh;
}
.bg-circle-image{
    grid-area: 1/1;
    transition: 1s;
    width: 34vw;
    height: 74vh;
    margin-left: 8vw;
    margin-top: 5vh;
    animation: circleImage--rotation linear infinite 10s;
}

.bg-recipe-image{
    grid-area: 1/1;
    width: 48vw;
    z-index: 1;
    height: 84vh;
    margin-left: 4vh;
    margin-top: 6vh;
    /* transform: rotate(3deg); */
}
.sectiontext-1{
    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
    .section-1-title-1{
        grid-area: 1/2;
        justify-self: end;
        margin-right: 16vw;
        letter-spacing: 1vw;
        margin-top: 30vh;
        font-size: 2.3vw;
        font-weight: bold;
    }
    .section-1-title-1-description{
        grid-area: 1/1/2/3;
        width: 75vw;
        justify-self: center;
        align-self: center;
        font-size: 3vw;
        height: 10vh;
    }
.sectiontext-2{
    display: grid;
    background-color: rgb(200, 199, 199);
    width: 82.7vw;
    justify-self: center;
    margin-left: -2.8vh;
    grid-template-columns: repeat(2,1fr);
    margin-top: 10vh;
}
.section-2-title-2{
    justify-self: center;
    grid-area: 1/1/2/3;
    margin-top: 5vh;
    font-size: 2vw;
    font-weight: bold;    
}
.label-style{
    font-size: 2.5vh;
    font-weight: bold;
    margin-left: 8vw;
    align-items: center;

}
input{
    width: 2vw;
    height: 2vh;
    margin-left: 5vw;
}
    .label-1{
        grid-area:2/1;
    }
    #checkbox-1{
        grid-area:2/1;
    }
    .label-2{
        grid-area: 3/1;
    }
    #checkbox-2{
        grid-area: 3/1;
    }
    .label-3{
        grid-area: 4/1;
    }
    #checkbox-3{
        grid-area: 4/1;
    }
    .label-4{
        grid-area: 5/1;
    }
    #checkbox-4{
        grid-area: 5/1;
    }
    .label-5{
        grid-area: 6/1;
    }
    #checkbox-5{
        grid-area: 6/1;
    }
    .label-6{
        grid-area: 7/1;
    }
    #checkbox-6{
        grid-area: 7/1;
    }
    .label-7{
        grid-area: 8/1;
    }
    #checkbox-7{
        grid-area: 8/1;
    }
    .label-8{
        grid-area: 9/1;
    }
    #checkbox-8{
        grid-area: 9/1;
    }
    .label-9{
        grid-area: 10/1;
    }
    #checkbox-9{
        grid-area: 10/1;
    }
    input[type="checkbox"]:checked   + label{
        text-decoration: line-through;
        font-style: italic;
        color: green;
    }
    .section-text3{
        display: grid;
    }
        .section-3-title-3{
            font-size: 2vw;
            letter-spacing: 1vh;
            justify-self: center;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
        .pas-list{
            font-size: 1.4vw;
            width: 55vw;
            justify-self: center;
            margin-left: -20vw;
        }
        li{
            margin-bottom: 2vh;
        }
.section-3-video{
    display: grid;
    justify-items: center;
    margin-top: 5vh;
}
    .video-1{
        width: 70vw;
    }
.section-4{
    display: grid;
}
    .sectioin-4-title{
        justify-self: center;
        font-size: 1.7vw;
        grid-area: 1/1;
    }
    .stars-container{
        justify-self: center;
        grid-area: 1/1;
        margin-top: 10vh;
        margin-left: -2vw;
        transform: rotatey(180deg);
    }
    .star-1{
        margin-left: 2vw;
    }
    .stars-1{
        display: none;
    }
    .fill-change{
        fill: white;
    }
    input[type="checkbox"]:checked ~ label > svg > .fill-change{
        fill: yellow;
    }
.section-5{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}
    .section-5-title{
        grid-area: 2/1/2/3;
        justify-self: center;
        font-size: 2vw;
        letter-spacing: 0.5vw;
        margin-top: -22vh;
    }
            .bl-1{
                grid-area: 1/1;
                background-color: antiquewhite;
                width: 21vw;
                height: 25vh;
                border-radius: 10px;
                justify-items: center;
                display: grid;
                align-items: center;
                margin-top: 10vh;
                margin-bottom: 10vh;
            }
                .section-5-image1{
                    width: 10vw;
                    height:10vh;
                    border-radius: 10px;
                }
                .section-5-image2{
                    width: 10vw;
                    height:10vh;
                    border-radius: 10px;                                         
                }

                .ft-gmail {
                    width: 14vw;
                    height: 3vh;
                    border-radius: 10px;
                    border: none;
                    grid-area: 1/1;
                    margin-left: -10vh;
                }
                .ft-send {
                    width: 3vw;
                    height: 3vh;
                    border-radius: 10px;
                    border: none;
                    grid-area: 1/1;
                    margin-left: 14vw;
                    cursor: pointer;
                }

@media screen and (max-width:1000px){
    .user-description {
        text-align: justify;
        font-size: 1.2vw !important;
    }
    .sectiontext-2 {
        display: grid;
        background-color: rgb(200, 199, 199);
        width: 82.7vw;
        justify-self: center;
        margin-left: -1vh;
        grid-template-columns: repeat(2,1fr);
        margin-top: 10vh;
    }
    .pas-list {
        font-size: 2vw;
        width: 55vw;
        justify-self: center;
        margin-left: -20vw;
    }
    .section-4 {
        display: grid;
        margin-top: -43vh;
    }
    .section-5 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        margin-top: -30vh;
    }
    .background-recipe-image {
        grid-area: 1/1;
        width: 100vw;
        height: 510vh;
    }
}
@media screen and (max-width:500px){
    html{
        /* disable x scrooll in-page */
        overflow-x:scroll !important;
        overflow-y: scroll !important;
    
    }
    nav {
        position: fixed;
        top: -51vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #5d7b6f;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        transition: 1s;
    }
    .maps-site {
        grid-area: 1/2;
        align-self: center;
        width: 75vw;
        height: 47vh;
        margin-left: -70vw;
        margin-top: 45vh;
        z-index: 2;
    }
    .recomended-container {
        grid-area: 1/1;
        display: grid;
        justify-self: center;
        margin-top: 32vh;
        margin-left: 13vw;
        position: relative;
        left: 3vh;
    }
    .receta-text {
        font-size: 3vw;
        justify-self: center;
        position: relative;
        left: 5vh;
    }
    .receta-3-mb {
        grid-area: 3/3;
        margin-left: -14vw;
        margin-bottom: 5vh;
    }
    .receta2 {
        width: 10vw;
        height: 10vh;
        border-radius: 10px;
        margin-left: -10vh;
    }
    .receta3 {
        width: 10vw;
        height: 10vh;
        border-radius: 10px;
        position: relative;
        left: -4vh;
    }
    .user-description {
        text-align: justify;
        font-size: 3vw;
    }
    .user-container {
        grid-area: 1/1;
        margin-top: 10vh;
        margin-left: -24vw;
        width: 43vw;
        justify-self: center;
        position: relative;
        top: 3vh;
    }
    .user-image {
        width: 14vw;
        height: 9vh;
        margin-left: 4vw;
    }
    .nav__menu-searchbox {
        width: 50vw;
        height: 4vh;
        justify-self: center;
        margin-top: -0.5vh;
        margin-left: 3vw;
        border-radius: 10px;
        border: none;
        font-size: 1.3vw;
        position: relative;
    }
    .bg-recipe-image {
        grid-area: 1/1;
        width: 50vw;
        z-index: 1;
        height: 58vh;
        margin-left: 1vh;
        margin-top: 4vh;
    }
    .section-1-title-1 {
        grid-area: 1/2;
        justify-self: end;
        margin-right: 15vw;
        letter-spacing: 1vw;
        margin-top: 28vh;
        font-size: 3.3vw;
        font-weight: bold;
        width: 40vw;
    }
    .section-1-title-1-description {
        grid-area: 1/1/2/3;
        width: 75vw;
        justify-self: center;
        align-self: center;
        font-size: 6vw;
        height: 29vh;
    }
    .label-style {
        font-size: 1.5vh;
        font-weight: bold;
        margin-left: 8vw;
        align-items: center;
    }
    .section-2-title-2 {
        justify-self: center;
        grid-area: 1/1/2/3;
        margin-top: 5vh;
        font-size: 3vw;
        font-weight: bold;
    }
    .section-3-title-3 {
        font-size: 3vw;
        letter-spacing: 1vh;
        justify-self: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .pas-list {
        font-size: 3vw;
        width: 55vw;
        justify-self: center;
        margin-left: -20vw;
    }
    .sectioin-4-title {
        justify-self: center;
        font-size: 2.7vw;
        grid-area: 1/1;
        margin-top: -27vh;
    }
    .stars-container {
        justify-self: center;
        grid-area: 1/1;
        margin-top: -23vh;
        margin-left: -2vw;
        transform: rotatey(
    180deg
    );
    }
    .section-5 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        margin-top: -64vh;
    }
    .section-5-title {
        grid-area: 2/1/2/3;
        justify-self: center;
        font-size: 3vw;
        letter-spacing: 0.5vw;
        margin-top: -32vh;
    }
    .background-recipe-image {
        grid-area: 1/1;
        width: 100vw;
        height: 495vh;
    }
    .bg-circle-image {
        grid-area: 1/1;
        transition: 1s;
        width: 55vw;
        height: 80vh;
        margin-left: 1vw;
        margin-top: -10vh;
        animation: circleImage--rotation linear infinite 10s;
    }
    body{
        background-color: white;
    }
    .section-3-video {
        display: grid;
        justify-items: center;
        margin-top: 8vh;
    }
}