@media screen and (max-width:500px) {
    .label-search{
        display: none;
    }
    nav{
        position: fixed;
        right: 100vw; 
        top: 0vh !important;
        width: 100vw;
        height: 107vh;
        background-color: #B0D4B8;
        transition: 1s;
        /* display: none !important; */
    }
        .nav-form{
            margin-left: -20vh;
        }
        .nav-imput-v{
            display: none;
        }
            .nav__search-image{
                display: none;
            }
        .nav__menu-searchbox {
            width: 50vw;
            height: 4vh;
            justify-self: center;
            margin-top: -1.5vh;
            margin-left: 16vw;
            border-radius: 10px;
            border: none;
            font-size: 3vw;
            position: relative;
        }
         /* nav animations */
        /* searchbox animation */
        /* nav animation */
        input[type="checkbox"]:checked + nav{
            right: 0vw;
        }    
        .user-container{
            display: grid;
            width: 65vw;
            grid-area: 1/1;
            height: 10vh;
            justify-items: center !important;
            margin-top: 11vh !important;
            margin-left: 2vw;
        }
        .user-name{
            margin-left: -6vw;
            margin-top: 1vh;
            margin-bottom: 2vh;
        }
        .user-image{
            margin-left: -7vw !important;
        }
        .user-description{
            height: 50vh !important;
            text-align: justify;
            font-size: 3.5vw;
            margin-left: 0vh;
            width: 83vw;
        }
        .recomended-container{
            height: 50vh;
            grid-template-columns: repeat(3,1fr) !important;
            display: grid;
            justify-items: center;
            width: 70vw;
            margin-top: 45vh;
            height: 10vh;
        }
            .receta-text-title{
                grid-area: 1/1/2/4;
            }
            .receta-1-mb{
                grid-area: 3/1;
                width: 15vw;
                height: 15vh;

            }
            .receta-2-mb{
                grid-area: 3/2;

            }
            .receta-3-mb{
                grid-area: 3/3;

            }
            .receta-text{
                font-size: 2vw;
            }
            .maps-site{
                margin-left: -70vw;
                margin-top:60vh;
                height: 30vh;
                width: 70vw;
            }
            .form-footer{
                display: none !important;
            }
    html{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    body{
        background-color: yellow;
    }
    nav{
        position: absolute;
        top: -7vh;
    }
    .ld-section {
        display: grid;
        width: 100vw;
        height: 100vh;
    }
    
    .ld-section__background--image {
        position: fixed;
        z-index: 1;
        grid-area: 1/1;
        width: 100vw;
         height: 100vh;
        filter: blur(2px);
        display: none;
    }   
    .ld-section__background--image-tablet {
        position: fixed;
        z-index: 1;
        grid-area: 1/1;
        width: 100vw;
         height: 100vh;
        filter: blur(2px);
        display: revert;
    }
    .ld-mb{
        z-index: 1;
        grid-area: 1/1;
        width: 100vw;
        height: 100vh;
        filter: blur(0.5px);
        display: revert !important;
    }
    .ld-section__contentContainer {
        display: grid;
        z-index: 1;
        grid-area: 1/1;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: -40vh;
    }
            .ld-ContentContainer__tie--image {
                width: 100vw;
                height: 15vh !important;
                justify-self: center;
                align-self: center;
                grid-area: 1/1/3/3;
                margin-top: 15vh;
            }
    
            .ld-ContentContainer__textContainer {
                display: grid;
                z-index: 3;
                justify-self: center;
                align-self: center;
                grid-area: 1/1/3/3;
                width: 70vw;
                height: 100vh;
            }
                .ld-textContainer__title {
    
                    justify-self: center;
                    margin-top: -5vh !important;
                    font-size: 5vw;
                    align-self: end;
                    letter-spacing: 1.5vw;
    
                }
    
                .ld-textContainer__description {
                    justify-self: center;
                    font-size: 4vw;
                    width: 65vw;
                    text-align: center;
                    align-self: center;
                    margin-top: -20vh !important;
                }
        .ld-section__dowArrow--image {
            z-index: 2;
            display: none;
        }
    
        .ld-section__dowArrow-active {
            z-index: 2;
            display: none;
        }
    
    .rpc-section{
        display: none !important;
    }
    .mb-recipe{
        position: relative;
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        height: 100vh;
        top: -5vh !important;
        width: -webkit-fill-available;
        overflow: scroll;
        z-index: 1;
    }
    .recipe1{
        margin-right: 10vh;
        position: relative;
        justify-self: center;
        align-self: center;
        left: 100vw;
        height: 98vh;
        width: 50vh;
        display: grid;
    }
    .recipe3{
        margin-right: 10vh;
        position: relative;
        justify-self: center;
        align-self: center;
        left: 100vw;
        height: 98vh;
        width: 50vh;
        display: grid;
        margin-right: 110vw;
    }
    .mobile-bk{
        grid-area: 1/1;
        width: 97vw;
        height: 94vh;
        margin-top: 2vh;
    }
    .img1{
        grid-area: 1/1;
        z-index:2;
        width: 89vw;
        height: 47vh;
        margin-top: 10vh;
        justify-self: center;
        border-radius: 10px;

    }
    .img2{
        grid-area: 1/1;
        z-index: 2;
        width: 89vw;
        height: 47vh;
        z-index:2;
        margin-top: 10vh;
        justify-self: center;
        border-radius: 10px;

    }
    .img3{
        grid-area: 1/1;
        z-index: 2;
        width: 89vw;
        height: 47vh;
        z-index:2;
        margin-top: 10vh;
        justify-self: center;
        border-radius: 10px;

    }
    .mb-desc{
        grid-area: 1/1;
        justify-self: center;
        align-self: flex-end;
        margin-bottom: 11vh;
        width: 42vh;
        font-size: 2vh;
        letter-spacing: 1.1px;
    }
    .mb-desc2{
        grid-area: 1/1;
        justify-self: center;
        align-self: flex-end;
        margin-bottom: 11vh;
        width: 42vh;
        font-size: 2vh;
        letter-spacing: 1.1px;
        margin-bottom: 15vh;
    }
    .mb-title{
        grid-area: 1/1;
        margin-top: 4vh;
        z-index: 2;
        margin-left: 16vh;
    }    
    .mb-title2{
        grid-area: 1/1;
        margin-top: 4vh;
        z-index: 2;
        margin-left: 5vh;
    }    
    .mb-title3{
        grid-area: 1/1;
        margin-top: 4vh;
        z-index: 2;
        margin-left: 8vh;
    }
    .mb-button{
        grid-area: 1/1;
        justify-self: flex-start;
        margin-top: 73vh;
        align-self: center;
        margin-left: 18vh;
        z-index: 2;
    }
    button{
        top: 5vh !important;
    }
}
*{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: transparent;
}
*:visited{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: transparent;
}
button{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: transparent;
}
span{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: transparent;
}