@media screen and (max-width:1400px) {
    .user-container {
        margin-top: 5vh !important;
    }
}

@media screen and (max-width:1000px) {

    nav{
        background-color: black !important;
    }
    .nav__menu-searchbox {
        width: 50vw;
        height: 4vh;
        justify-self: center;
        margin-top: 1.5vh;
        margin-left: 10vw;
        border-radius: 10px;
        border: none;
        font-size: 1.3vw;
        position: relative;
    }
        nav{
            background-color: #A4C3A2;
        }
            .nav__search-image{
                left: 8vw !important;
            }
         /* nav animations */
        /* searchbox animation */
        input[type="checkbox"]:checked + .nav-form{
            top: 51vh;
            background-color: #A4C3A2;
            height: 7vh;
            width: 108vw;
            display: grid;
        }
        /* nav animation */
        input[type="checkbox"]:checked + nav{
            top: 0vh;
        }
        input[type="checkbox"]:checked + nav > .nav-form{
            top: 0vh;
            width: 108vw;
        }
        input[type="checkbox"]:checked + nav .nav__search-image{
            display: none;
        }
        .user-container{
            grid-area: 1/1;
            margin-top: 10vh;
            margin-left: -25vw;
            width: 23vw;
            justify-self: center;
        }
            .user-image{
                width: 10vw;
                height: 10vh;
                margin-left: 4vw;
            }
            .user-name{

            }
            .user-description{
                text-align: justify;
            }
        .recomended-container{
            grid-area: 1/1;
            display: grid;
            justify-self: center;
            margin-top: 8vh;
            margin-left: 14vw;
        }
            .receta-text-title{
                color: white;
                margin-bottom: 1vh;
                letter-spacing: 0.2vw;
                margin-left: 0vw;
                font-size: 1.8vh;
            }
            .receta-text{
                font-size: 1vw;
                justify-self: center;
                margin-left: -6vw;
            }
            .receta1{
                width: 10vw;
                height: 10vh;
                border-radius: 10px;
    
            }
            .receta2{
                width: 10vw;
                height: 10vh;
                border-radius: 10px;
                
            }
            .receta3{
                width: 10vw;
                height: 10vh;
                border-radius: 10px;
                
            }
            .maps-site{
                grid-area: 1/2;
                align-self: center;
                width: 60vw;
                height: 41vh;
                margin-left: -11vw;
                margin-top: 9vh;
                z-index: 2;
            }
    .mb-recipe{
        display: none!important;
    }
    /* backgroundimages */
    .rpc-background__image{
        height: 300vh;
    }
    .rpc-background__menu{
        display: none;
    }
    .rpc-background__menu-tablet{
        justify-self: center;
        margin-top: 6vh;
        height: 295vh;
        width: 82vw;
        grid-area: 1/1;
        z-index: 1;
        display: revert;
    }
    .rp-container__ratatouille {
        display: grid;
        grid-template-columns: 1fr;
    }
        /* food&circle container */
        .rp-vcontainer__fodimagecontainer{
            height: min-content;
            width: min-content;
            margin-top: 15vh;
            margin-left: 0vw;
            justify-self: center;
            grid-area: 1/1;
        }
            .rp-vcontainer__fodimage{
                display: none;
            }
            .rp-vcontainer__fodimage1-tablet{
                width: 62vw;
                height: 40vh;
                display: revert;
            }
            .rp-vcontainer__cirlceimage{
                display: none;
            }
        .rp-vcontainer__video{
            display: none;
        }
    /* warning { all below code are reusable } */
    /* container for recipe description */
    .rp-textcontainer{
        display: grid;
        width: 69vw;
        height: 84vh;
        justify-self: center;
        align-self: center;
        margin-top: 3vh;
        margin-left: -1vh;
        grid-area: 1/1;
    }
        /* stars container */
        .rp-textcontainer__tlstars-container{
            display: grid;
            width: 32vw;
            height: 0vh;
            justify-self: flex-start;
            margin-left: 3.6vw;
        }
                .rp-star1{
                    position: relative;
                    width: 4vw;
                    height: 3vh;
                }
                .rp-star2{
                    position: relative;
                    width: 4vw;
                    height: 3vh;
                }
                .rp-star3{
                    position: relative;
                    width: 4vw;
                    height: 3vh;
                }
                .rp-starimage-colorchange{
                    fill: yellow;
                }
        .rp-textcontainer__fodtitle{
            grid-area: 1/1;
            font-size: 2.5vw;
            letter-spacing: 0.5vw;
        }
    .rp-textcontainer__foddescription{
        margin-top: 3vh;
        width: 61vw;
        font-size: 1.8vw;
        justify-self: center;
        align-self: center;
        margin-bottom: -30vh;
        letter-spacing: 0.4vh;
        text-align: justify;
        margin-left: 1vw;
    }
    /* tarta de manzana section styles */
    .rp-container__tartaMZ{
        display: grid;
        grid-template-columns: 1fr;
    }
        .rp-vcontainer__fodimage2{
            display: none;
        }
        .rp-vcontainer__fodimage2-tablet{
            display: revert;
            width: 61vw;
            height: 42vh;
        }
        .rp-textcontainer__tlstars-container--tm{
            display: grid;
            width: 60vw;
            height: 0vh;
        }
    
    /* ===================================== */
    
    /* buñuelos section styles */
    .rp-container__buñuelos{
        display: grid;
        grid-template-columns: 1fr;
    }
        .rp-vcontainer__fodimage3{
            display: none;
        }
        .rp-vcontainer__fodimage3-tablet{
            display: revert;
            width: 61vw;
            height: 42vh;
        }
        .rp-textcontainer__tlstars-container--bs{
            display: grid;
            width: 51vw;
            height: 0vh;
        }
    /* ================================================ */
    
    /* ================ button styles ================= */
    button {
        width: 15vw;
        height: 5vh;
        cursor: pointer;
        display: grid;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
        background: #859aa0;
        grid-template-columns: repeat(3,1fr);
        transition: none;
        align-self: center;
        position: relative;
        margin-left: 25vw;
        top: 19vh;
    }
        .button-text {
            width: 4vw;
            font-weight: bold;
            color: white;
            font-size: 1vw;
            justify-self: center;
            align-self: center;
            grid-area: 1/3/1/1;
            margin-left: 0vw;
        }
    /* footer styles */
    footer{
        display: grid;
        background-color: #A4C3A2;
        position: relative;
        width: 100vw;
        height: 7vh;
        grid-template-columns: repeat(3,1fr);
    }
        /* social media container */
        .ft-socialcontainer{
            justify-self: center;
            align-self: center;
            width: 30vw;
        }
        .ft-socialcontainer__instagram-image{
            margin-right: 1vw;
            width: 2.5vw;
        }
        .ft-socialcontainer__gmail-image{
            margin-right: 1vw;
            width: 3vw;
        }
        .ft-socialcontainer__youtube-image{
            margin-right: 1vw;
            width: 3.5vw;
        }
    form{
        display: grid;
        justify-items: center;
        align-items: center;
        margin-left: -8vw;
    }
        .ft-gmail{
            width: 24vw;
            grid-area:1/1;
        }
        .ft-send{
            width: 6vw;
            margin-left: 32vw;
            cursor: pointer;
        }
        /* about us container */
        .ft-aboutuscontainer{
            display: grid;
            width: 12vw;
            margin-left: 20vw;
        }
        .buñuelos-ps{
            margin-left: 4vw !important;
        }
        .tarta-ps{
            margin-left: 5vw !important;
        }
        .rata-ps{
            margin-left: 4vw !important;
        }
}
